services:
  yt-dlp:
    build:
      context: ./yt-dlp
      dockerfile: Dockerfile
    volumes:
      - ./downloads:/downloads
    stdin_open: true
    tty: true
    # environment:
    #   - YTDLP_OUTPUT_TEMPLATE=/downloads/%(title)s.%(ext)s
    # command: --extract-audio --audio-format mp3

  whisper:
    build:
      context: ./whisper
      dockerfile: Dockerfile
    volumes:
      - ./downloads:/downloads
    stdin_open: true
    tty: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  
  faster-whisper:
    build:
      context: ./faster-whisper
      dockerfile: Dockerfile
    volumes:
      - ./downloads:/downloads
    stdin_open: true
    tty: true
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]